---
services:
  media-health-check:
    image: ghcr.io/tanakrit-d/media-health-check:latest
    container_name: media-health-check
    
    environment:
      SCAN_INTERVAL_HOURS: "24"
      SCAN_DIRECTORIES: "/data/media/tv /data/media/movies /data/media/anime/series /data/media/anime/movies"
      VALIDATOR_OPTIONS: "--verbose --prune"
      DB_PATH: "/data/db/scan.db"
      
    volumes:
      - /mnt/user/data/media:/data/media:ro
      - /mnt/user/appdata/media-health-check/db:/data/db
      - /mnt/user/appdata/media-health-check/logs:/data/logs
    
    restart: unless-stopped
